<ion-card color="dark">

  <ion-card-header>

    <ion-card-subtitle>
      <span class="text-primary">{{ i }}.</span>
      <span class="noticia-source-name">{{ noticia.source.name }}</span>
      
      <div class="noticia-more">
        <ion-button (click)="lanzarMenu()"  fill="clear" >
          <ion-icon class="colorTresPuntitos" slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-subtitle>

    <ion-card-title (click)="abrirNoticia()">
      {{ noticia.title }}
    </ion-card-title>

  </ion-card-header>

  <ion-img *ngIf="noticia.urlToImage" (click)="abrirNoticia()" [src]="noticia.urlToImage"></ion-img>

  <ion-card-content>
    {{noticia.description}}
  </ion-card-content>
</ion-card>